/* CSS stylesheet */

body {
  margin:auto;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: linear-gradient(to bottom, #004000, #001d00);*/
  font-family: calibri, sans-serif;
}

a {
  text-decoration: none;
  color: red;
}

h1{
  margin:  10px;
}

#container{
  background-color: #ffffff;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header{
  text-align: center;
  background-image
}

.content{
  background-color: #ccc;
  padding: 10px;
}

#nav{
  /*float: left; /* allows to organie nav & main in columns */
  padding: 0px;
  overflow: hidden;
  background-color: #222222;
  border-bottom: solid 1px #444444;
  border-top: solid 1px #444444;
}

#nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  padding-left: 50px;
  text-decoration: none;
}

#nav a:hover {
  background-color: #5a9265;
  color: #0f471a;
  font-weight: bold;
}

/* Make the button of the active page highlighted*/
#nav a.active {
  background-color: #286033;
  color: white;
  font-weight: bold;

}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.text {
  text-align: justify;
}

#main{
  padding: 25px;
}

#footer{
  background-color: #ddd;
  text-align: right;
  clear: both; /* means it requires no floating elements on its line to be displayed.
                  Pushes it down if there is any.*/
}
