/* CSS stylesheet */
@import("fonts/fonts.css")

:root{
	--box-width: 700px;
 	--box-height: 200px;
}

body {
  	margin:auto;
  	margin: 0;
  	padding: 0;
  	background-image: linear-gradient(to bottom, #222222, #222222, #222222,  #0f331a, #264130);
  	/*background-image: linear-gradient(to bottom, #004000, #001d00);*/
  	font-family: "libre_franklinmedium", "Helvetica Neue", helvetica, arial, sans-serif;
	color: #ddd;
	line-height: 1.5;
}

a {
  	text-decoration: none;
  	color: red;
}

#header{
  	text-align: center;
  	background-image: url("image/website_display_short.png")
	height: 500px;
}

#header h1{
  	font-weight: bolder;
  	color: white;
  	font-size: 70px;
	position:absolute;
	top:10%;
	left:25%;
}

#header blockquote{
  	color: white;
	position:absolute;
	top:25%;
	left:15%;
	right:15%;
	font-size: 20px;
	text-align:left;
}

#header img{
  	width: 100%;
  	height: 500px;
}

#nav{
  	/*float: left; /* allows to organie nav & main in columns */
	margin-top: -6px;
	padding: 0px;
  	overflow: hidden;
  	background-color: #222222;
  	border-bottom: solid 1px #444444;
  	border-top: solid 1px #444444;
	z-index: 2;
}

#nav a {
  	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px;
  	padding-left: 50px;
  	text-decoration: none;
}

#nav a:hover {
  	background-color: #5a9265;
  	color: #0f471a;
  	font-weight: bold;
}

/* Make the button of the active page highlighted*/
#nav a.active {
  	background-color: #286033;
  	color: white;
  	font-weight: bold;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  	position: fixed;
  	top: 0;
  	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  	padding-top: 60px;
}


#container{
  	/*background-color: #222222;*/
	margin:auto;

}


.box{
  	width: var(--box-width);
  	height: var(--box-height);
	padding: 20px;
  	background-image: linear-gradient(to right, rgba(71,71,71,255),
										rgba(61,61,61,255),
										rgba(51,51,51,255),
										rgba(0,0,0,0));

  	clip-path: polygon(0% 0%,
                     	100% 0%,
                     	100% 100%,
                     	calc(0.1 * var(--box-width)) 100%,
                     	0% calc(0.75 * var(--box-height)));
}

#main{
	width:45%;
	float: left;
  	margin-top: 15px;
	padding-left: 15px;
}

#right_side_container{
	float: right;
	width: 25%;
	height: 1500px;
}

#left_side_container{
	float: left;
	width: 25%;
	height: 1500px;
}

/*https://stackoverflow.com/questions/25914363/how-can-i-create-a-concave-bottom-border-in-css*/
#curvedsidebar {
    background:none;
    height:50%;
    position:relative;
    overflow:hidden;
    z-index:1;
}

/*#curvedsidebar:after {
    content:'';
    position:relative;
	top:-5000px;
    width:1000%;
    padding-bottom:1300%;
	left:-200px;
    background:none;
    border-radius:90%;
	border: solid;
	-webkit-box-shadow:
		0px 0px 10px 50px rgba(59, 120, 63, 255),
		0px 0px 8px 200px rgba(0, 0, 0, 0);
	z-index:-1;
}*/
#curvedsidebar:after {
    content:'';
    position:absolute;
    left:-985%;
    width:1000%;
    padding-bottom:1300%;
    top:-300%;
    background:none;
    border-radius:90%;
	border: solid;
	-webkit-box-shadow:
		0px 0px 10px 50px rgba(59, 120, 63, 255),
		0px 0px 8px 200px rgba(0, 0, 0, 0);
	z-index:-1;
}


.text {
  	text-align: justify;
}



#footer{
  	background-color: #0f471a;
  	padding: 10px;
  	color: #77aa7b;
  	text-align: right;
  	clear: both; /* means it requires no floating elements on its line to be displayed.
                  Pushes it down if there is any.*/
}

.stickyBot {
  	position: sticky;
  	bottom: 0;
}
