<footer>
    <div class="footer_content">
        <div class="contact">
            <h1>Contact</h1>

            <p> 
                >> Adresse e-mail:
                <a href="mailto:bleh@zob.fr?subject=feedback">bleh@zob.fr</a>
            </p>

            <p>
                >>  
                <a href="/contact">Autres moyens de contact</a>
 
            </p>
            
        </div>

        <div class="infos">
            <h1>Informations</h1>

            <ul>
                <li></li>
            </ul>
        </div>

        <div class="potos">
            <h1>Ne pas manquer</h1>

            <a href="https://le-monde-du-captain-sparke.fr/" target="_blank"> >>  Le monde du Captain Sparke  </a>
        </div>
    </div>
</footer>

<script src="js/jquery-3.5.1.min.js"></script>
<script src="js/sticky.js"></script>
<script src="js/homeToBlog.js"></script>
</body>
</html>
