<! <!DOCTYPE html>

<html lang="en" dir="ltr">
	<head>
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" href="styles/main.css">
			<title>Aëthius - blog</title>
			<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
			<script src="js/sticky.js"></script>
			<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
		</head>
	</head>

	<body>
		<header class="headerGen">
			<div class="header_content general_header">
				<div id="title">
					<h1> Le bric-à-brac <br /> d'Aëthius</h1>
					<img src="images/logo_white.png" alt="logo">
				</div>

				<nav id="navbar">
					<div id="sticky_background">
						<ul>
							<li><a class="accueil" href="#article3">Accueil</a></li>
							<li><a href="#">Informatique</a></li>
							<li><a href="#">Electronique</a></li>
							<li><a href="#">Jeux</a></li>
							<li><a class="user" href="#"><img src="images/user.png" alt="user_logo">
														 <img src="images/user_black.png" class="img_top" alt="user_logo"></a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>