<%- include("header"); -%>

<div id="bloc_page">
	<section>
        <div class="presentation">
            <p>Salut !</p>

            <img src="images/aethius.gif" alt="Itse me! Aethius!" title="Mon meilleur selfie...">

            <p>... Et bienvenue dans mon antre !</p>

            <p>Je suis Aëthius et te voici au milieu de mon bric-à-brac, la somme de toutes les choses que j'aime faire pour passer le temps.
                Tu trouvera donc plusieurs sections dans lesquelles tu pourra fouiller pour y glaner quelques infos qui pourront t'être utile, balancer des commentaires haineux pour te défouler (c'est une blague) ou juste passer le temps.</p>
            
            <p>J'aime les sicences, l'informatique, l'électronique, les jeux-vidéos ou jeux-tout-court, le  dessin et la musique.
                Des petits échantillons de toutes ces choses apparaitront alors de temps en temps sur ce site.</p>
            
            <p>Tant que j'y suis, ce site a été fait avec mes petites mimines à moi, alors si tu as des conseils, n'hésite pas!</p>

            <p>Pour me contacter, clique juste en dessous :</p>

            <a href="/contact"><button>Là !</button></a>
        </div>

		<article class="pannels">
			<h1 id="article1">Article 1</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a dui eu sapien pretium pharetra eget in orci. In tempus id tortor sed ultricies. Fusce suscipit scelerisque ante, vel vulputate nibh dignissim sed. Morbi purus magna, scelerisque blandit sem quis, accumsan dictum turpis. Phasellus ornare in justo non fermentum. Etiam in magna gravida, vestibulum ipsum non, cursus risus. Aliquam erat volutpat.</p>

			<p>Maecenas molestie elementum pharetra. Sed placerat ante sit amet velit vehicula, vel sodales velit cursus. Nunc ornare, purus id mollis posuere, mi arcu condimentum purus, id blandit nibh enim et dui. Proin sodales porta mauris. Morbi facilisis finibus leo, vitae rutrum lectus molestie in. Mauris suscipit velit justo, quis suscipit justo mollis id. Curabitur eget felis faucibus, cursus sem a, congue ipsum. Integer id semper felis.</p>

			<p>Phasellus lorem risus, fermentum nec lacinia quis, luctus sed magna. Quisque eleifend vestibulum enim eget placerat. Sed suscipit massa venenatis, aliquet lectus a, imperdiet turpis. Aliquam consectetur porttitor erat ornare interdum. Phasellus interdum congue volutpat. Sed nec orci massa. Vivamus sed nibh id risus faucibus egestas non sed ante. Donec eget eros porta elit cursus placerat.</p>

			<p>Etiam vitae nunc enim. Aliquam erat volutpat. In hac habitasse platea dictumst. Pellentesque blandit augue eget turpis pharetra, a eleifend libero aliquet. Phasellus ut efficitur augue, quis fermentum metus. Donec neque lacus, pellentesque at mi id, bibendum ultricies velit. Nullam eget sem aliquam, finibus mauris et, lobortis turpis. Aenean et augue ut quam scelerisque volutpat. Morbi eget leo neque. Morbi pellentesque risus eu sapien faucibus consectetur.</p>

			<p>Morbi in imperdiet quam, varius sodales sem. Aliquam sagittis luctus turpis eu fringilla. Etiam sagittis, mauris sit amet molestie varius, ex leo convallis nisl, ac viverra justo massa sed arcu. Praesent gravida, ligula quis consectetur dignissim, diam nisi vehicula urna, eu dapibus nunc erat sit amet velit. Ut pulvinar tincidunt tellus, id dictum ipsum placerat eget. Praesent ut lacinia turpis. Etiam ipsum orci, tincidunt fringilla tristique non, tristique consequat magna. Maecenas pulvinar sem nec augue porttitor pellentesque. In hac habitasse platea dictumst.</p>
		</article>

		<article class="pannels">
			<h1 id="article2">Article 2</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a dui eu sapien pretium pharetra eget in orci. In tempus id tortor sed ultricies. Fusce suscipit scelerisque ante, vel vulputate nibh dignissim sed. Morbi purus magna, scelerisque blandit sem quis, accumsan dictum turpis. Phasellus ornare in justo non fermentum. Etiam in magna gravida, vestibulum ipsum non, cursus risus. Aliquam erat volutpat.</p>

			<p>Maecenas molestie elementum pharetra. Sed placerat ante sit amet velit vehicula, vel sodales velit cursus. Nunc ornare, purus id mollis posuere, mi arcu condimentum purus, id blandit nibh enim et dui. Proin sodales porta mauris. Morbi facilisis finibus leo, vitae rutrum lectus molestie in. Mauris suscipit velit justo, quis suscipit justo mollis id. Curabitur eget felis faucibus, cursus sem a, congue ipsum. Integer id semper felis.</p>

			<p>Phasellus lorem risus, fermentum nec lacinia quis, luctus sed magna. Quisque eleifend vestibulum enim eget placerat. Sed suscipit massa venenatis, aliquet lectus a, imperdiet turpis. Aliquam consectetur porttitor erat ornare interdum. Phasellus interdum congue volutpat. Sed nec orci massa. Vivamus sed nibh id risus faucibus egestas non sed ante. Donec eget eros porta elit cursus placerat.</p>

			<p>Etiam vitae nunc enim. Aliquam erat volutpat. In hac habitasse platea dictumst. Pellentesque blandit augue eget turpis pharetra, a eleifend libero aliquet. Phasellus ut efficitur augue, quis fermentum metus. Donec neque lacus, pellentesque at mi id, bibendum ultricies velit. Nullam eget sem aliquam, finibus mauris et, lobortis turpis. Aenean et augue ut quam scelerisque volutpat. Morbi eget leo neque. Morbi pellentesque risus eu sapien faucibus consectetur.</p>

			<p>Morbi in imperdiet quam, varius sodales sem. Aliquam sagittis luctus turpis eu fringilla. Etiam sagittis, mauris sit amet molestie varius, ex leo convallis nisl, ac viverra justo massa sed arcu. Praesent gravida, ligula quis consectetur dignissim, diam nisi vehicula urna, eu dapibus nunc erat sit amet velit. Ut pulvinar tincidunt tellus, id dictum ipsum placerat eget. Praesent ut lacinia turpis. Etiam ipsum orci, tincidunt fringilla tristique non, tristique consequat magna. Maecenas pulvinar sem nec augue porttitor pellentesque. In hac habitasse platea dictumst.</p>

		</article>

		<article class="pannels">
			<h1 id="article3">Article 3</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a dui eu sapien pretium pharetra eget in orci. In tempus id tortor sed ultricies. Fusce suscipit scelerisque ante, vel vulputate nibh dignissim sed. Morbi purus magna, scelerisque blandit sem quis, accumsan dictum turpis. Phasellus ornare in justo non fermentum. Etiam in magna gravida, vestibulum ipsum non, cursus risus. Aliquam erat volutpat.</p>

			<p>Maecenas molestie elementum pharetra. Sed placerat ante sit amet velit vehicula, vel sodales velit cursus. Nunc ornare, purus id mollis posuere, mi arcu condimentum purus, id blandit nibh enim et dui. Proin sodales porta mauris. Morbi facilisis finibus leo, vitae rutrum lectus molestie in. Mauris suscipit velit justo, quis suscipit justo mollis id. Curabitur eget felis faucibus, cursus sem a, congue ipsum. Integer id semper felis.</p>

			<p>Phasellus lorem risus, fermentum nec lacinia quis, luctus sed magna. Quisque eleifend vestibulum enim eget placerat. Sed suscipit massa venenatis, aliquet lectus a, imperdiet turpis. Aliquam consectetur porttitor erat ornare interdum. Phasellus interdum congue volutpat. Sed nec orci massa. Vivamus sed nibh id risus faucibus egestas non sed ante. Donec eget eros porta elit cursus placerat.</p>

			<p>Etiam vitae nunc enim. Aliquam erat volutpat. In hac habitasse platea dictumst. Pellentesque blandit augue eget turpis pharetra, a eleifend libero aliquet. Phasellus ut efficitur augue, quis fermentum metus. Donec neque lacus, pellentesque at mi id, bibendum ultricies velit. Nullam eget sem aliquam, finibus mauris et, lobortis turpis. Aenean et augue ut quam scelerisque volutpat. Morbi eget leo neque. Morbi pellentesque risus eu sapien faucibus consectetur.</p>

			<p>Morbi in imperdiet quam, varius sodales sem. Aliquam sagittis luctus turpis eu fringilla. Etiam sagittis, mauris sit amet molestie varius, ex leo convallis nisl, ac viverra justo massa sed arcu. Praesent gravida, ligula quis consectetur dignissim, diam nisi vehicula urna, eu dapibus nunc erat sit amet velit. Ut pulvinar tincidunt tellus, id dictum ipsum placerat eget. Praesent ut lacinia turpis. Etiam ipsum orci, tincidunt fringilla tristique non, tristique consequat magna. Maecenas pulvinar sem nec augue porttitor pellentesque. In hac habitasse platea dictumst.</p>
		</article>
	</section>

	<aside id="a_propos">
		<h1>A propos <div id="conteneur" > </div></h1>

		<img src="images/aethius.gif" alt="Itse me! Aethius!" title="Mon meilleur selfie...">

		<p>Salut à toi qui s'aventure ici bas et bienvenue dans mon antre. Je suis Aëthius et te voici au milieu de mon bric-à-brac, la somme de toutes les choses que j'aime faire pour passer le temps. Tu trouvera donc plusieurs sections dans lesquelles tu pourra fouiller pour y glaner quelques infos qui pourront t'être utile, balancer des commentaires haineux pour te défouler (c'est une blague) ou juste passer le temps. J'aime les sicences, l'informatique, l'électronique, les jeux-vidéos ou jeux-tout-court, le  dessin et la musique. Des petits échantillons de toutes ces choses apparaitront alors de temps en temps sur ce site. Tant que j'y suis, ce site a été fait avec mes petites mimines à moi, alors si tu as des conseils, n'hésite pas!</p>

		<span>Aëthius</span>

		<h2> Réseaux sociaux: </h2>

		<div class="social_network">
			<a href="#"> <img src="images/logo-facebook.png" alt="Facebook" title="Ma page Facebook"> </a>
			<a href="#"> <img src="images/logo-rond-twitter.png" alt="Twitter" title="Ma page Twiter"> </a>
			<a href="#"> <img src="images/youtube_logo.png" alt="Youtube" title="Peut être un jour..."> </a>
		</div>

		<a href="CV.html" target="_blank"> >> Mon CV </a>
	</aside>

</div>

<%- include("footer"); -%>