/* CSS stylesheet */
@import "public/fonts/fonts.css";

:root{
	--box-width: 700px;
 	--box-height: 200px;
}

body {
  	margin:auto;
  	margin: 0;
  	padding: 0;
  	background-image: linear-gradient(to bottom, #101111, #101111, #101111	,  #0f331a, #264130);
  	/*background-image: linear-gradient(to bottom, #004000, #001d00);*/
  	font-family: "libre_franklinmedium", "Helvetica Neue", helvetica, arial, sans-serif;
	color: #ddd;
	line-height: 1.5;
}

a {
  	text-decoration: none;
  	color: red;
}

#header{
	height: 500px;
}

#header .title{
	position: relative;
	top: -75%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#header h1 {
  	font-weight: bolder;
  	font-size: 70px;
	position: relative;
	left: 40px;
}

#header blockquote {
	position: relative;
	font-size: 20px;
	text-align: left;
}

#header img {
  	width: 100%;
  	height: 500px;
}

#nav {
	top: 0; /*meant to be sticky*/
  	overflow: hidden;
  	background-color: #202222;
  	border-top: solid 1px #444444;
	padding-bottom: 4px;
}

#nav::before {
	box-shadow: inset 4px 4px #aaaaaa;
}

#nav a {
  	float: left;
  	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px;
  	padding-left: 50px;
  	text-decoration: none;
}

#nav a:hover {
  	background-color: #5a9265;
  	color: #0f471a;
  	font-weight: bold;
}

/* Make the button of the active page highlighted*/
#nav a.active {
  	background-color: #286033;
  	color: white;
  	font-weight: bold;
}


#container {
  	/*background-color: #222222;*/
	margin:auto;

}


.box {
  	width: var(--box-width);
  	height: var(--box-height);
	padding: 20px;
  	background-image: linear-gradient(to right, rgba(71,71,71,255),
												rgba(61,61,61,255),
												rgba(51,51,51,255),
												rgba(0,0,0,0));

  	clip-path: polygon(0% 0%,
                     	100% 0%,
                     	100% 100%,
                     	calc(0.1 * var(--box-width)) 100%,
                     	0% calc(0.75 * var(--box-height)));
}

.box img {
	float: left;
}

.box .text {
	padding: 7px;
}

#main {
	width:45%;
	float: left;
  	margin-top: 15px;
	padding-left: 15px;
}

#right_side_container {
	float: right;
	width: 29%;
	height: 100%;
}

#left_side_container {
	float: left;
	width: 25%;
	height: 1500px;
}

/*https://stackoverflow.com/questions/25914363/how-can-i-create-a-concave-bottom-border-in-css*/
#curvedsidebar {
	top: 54px; /*meant to be sticky*/
	background:none;
    height:50%;
    overflow:hidden;
    z-index:1;
}


#curvedsidebar::before, #curvedsidebar::after {
    content:'';
    position:relative;
	display: inline-block;
	top:-0.3%;
	left:-35%;
	padding-bottom:1200px;
	padding-right:65%;
	/*-webkit-transform: rotate(5deg);*/
	border-radius: 45%;
}

#curvedsidebar::before {
	-webkit-box-shadow:
		0px 0px 0px 1000px #202222;
	-moz-box-shadow:
		25px -25px 50px 0px rgba(59, 120, 63, 255);
	-ms-box-shadow:
		25px -25px 50px 0px rgba(59, 120, 63, 255);
	-o-box-shadow:
		25px -25px 50px 0px rgba(59, 120, 63, 255);
	z-index:-1;
}

#curvedsidebar::after {
	-webkit-box-shadow: inset -3px 3px 0 0 #aaaaaa;
	position:absolute;
}

#right_side_container #apropos {

}

.text {
  	text-align: justify;
}



#footer {
  	background-color: #0f471a;
  	padding: 10px;
  	color: #77aa7b;
  	text-align: right;
  	clear: both; /* means it requires no floating elements on its line to be displayed.
                  Pushes it down if there is any.*/
}

.sticky {
  	position: relative;
}

@supports (position: sticky) {
	.sticky {
		-moz-position: sticky;
		-webkit-position: sticky;
		-ms-position: sticky;
		-o-position: sticky;
    	position: sticky;
    }
}

/*Useless here but nice to keep just in case*/
.rounded-corners-gradient-borders {
  width: 300px;
  height: 80px;
  border: double 4px transparent;
  border-radius: 80px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

body {
  font-family: sans-serif;
  background-color: #232837;
}
