
/******************************************************************************/
/* whole page styles */

html,body{overflow-x: hidden;} // trouver quel element cause apparaition scrollbar horizontale

html {
	background: linear-gradient(rgba(20, 20, 20, 1),
								rgb(34, 9, 9),
								rgba(20, 20, 20, 1));
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	background-attachment: fixed;

	color: white;

	position: relative;
    min-height: 100%;
}

body{
	margin: 0 0 205px;
	font-family: "Ubuntu Mono", monospace;
	font-size: large;
}

#bloc_page {
	width: var(--body-width);
	margin: auto;
}
